<!DOCTYPE html>
<html>
<head>
  <title>IDEal Collaborative Code Editor</title>
  <link rel="stylesheet" href="../static/css/reset.css" type="text/css">
  <link rel="stylesheet" href="../static/css/style.css" type="text/css">
  <script src="../static/js/vendor/codemirror.js"></script>
  <script src="../static/js/vendor/loadmode.js"></script>
  <script src="../static/js/vendor/meta.js"></script>

  <script src="../static/js/vendor/python.js"></script>
  <script src="../static/js/vendor/css.js"></script>
  <script src="../static/js/vendor/htmlmixed.js"></script>
  <script src="../static/js/vendor/xml.js"></script>
  <script src="../static/js/vendor/javascript.js"></script>
  <script src="../static/js/vendor/jquery.js"></script>
  <script src="../static/js/vendor/jquery-ui.js"></script>

</head>
<body class="cm-s-default">

  <div id="controls">
    <!-- <a class="button together button-on" onclick="TogetherJS(this); return false;" title="toggle collaboration"></a> -->
    <a href="#" class="button lights" title="toggle the lights"></a>
  </div>

  <textarea id="code"></textarea>


<script>

var $window = $(window);

// Create Editor
var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
    lineNumbers: true,
    lineWrapping: true,
  });

// This makes the change function execute upon loading the page.
window.onload = function() {
  change();
};

CodeMirror.modeURL = "../static/js/vendor/%N.js";

// This parses the filename and sets the editor to the appropriate
// mode.
function change() {
  var val = "{{=filename}}", m, mode, spec;
  if (m = /.+\.([^.]+)$/.exec(val)) {
    var info = CodeMirror.findModeByExtension(m[1]);
    if (info) {
      mode = info.mode;
      spec = info.mime;
    }
  } else if (/\//.test(val)) {
    var info = CodeMirror.findModeByMIME(val);
    if (info) {
      mode = info.mode;
      spec = val;
    }
  } else {
    mode = spec = val;
  }
  if (mode) {
    editor.setOption("mode", spec);
    CodeMirror.autoLoadMode(editor, mode);
    document.getElementById("modeinfo").textContent = spec;
  } else {
    alert("Could not find a mode corresponding to " + val);
  }
}

/*==========  STYLING & DYNAMIC BOX SIZING  ==========*/

  $('.lights').click(function(el) {
    el.preventDefault();
    $('.cm-s-default').toggleClass('cm-s-monokai');
    $(this).toggleClass('button-on');
  }).click();

  $('.together').click(function(el) {
    el.preventDefault();
    $(this).toggleClass('button-on');
  }).click();

  var resizeBoxes = function() {
    var windowHeight = $(window).height();
    var windowWidth  = $(window).width();
    $textBoxes = $('.CodeMirror');
    $.each($textBoxes, function(idx, box) {
      $(box).height(windowHeight);
      $(box).width(windowWidth);
    });
  };

  resizeBoxes();

  $window.resize(function() {
    resizeBoxes();
  });

  $('#frame').draggable().resizable({
    handles: 'n, e, s, w, ne, se, sw, nw'
  });

</script>
</body>
</html>
