<!DOCTYPE html>
<head>
    <title></title>
    <LINK rel="stylesheet" type="text/css" href="../static/css/IDEal_styles.css" title="IDEal Styles" media="screen">
    <meta name="google-signin-client_id" content="60604373576-t98rmnak6js171co8okc50009cverbmc.apps.googleusercontent.com">
</head>
<body>
    <body bgcolor="#424242"></bgcolor>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <div class="centered">
          <a href="/IDEal/default/project_init"><img src="/IDEal/static/templogo3.png" width="206px" height="97px" alt="Centered Image"/></a>
          <div class="g-signin2" data-width="206px" data-onsuccess="onSignIn"></div>
          <script>
            function onSignIn(googleUser) {
              var profile = googleUser.getBasicProfile();
              console.log('ID: ' + profile.getId());
              console.log('Name: ' + profile.getName());
              console.log('Image URL: ' + profile.getImageUrl());
              console.log('Email: ' + profile.getEmail());
            }
          </script>

          <h2>Please enter filename to start IDEal</h2>
          {{=form}}
          <h2> Or, load a file that is saved on the server. </h2>
          <h1>Files:</h1>
          <ul>
             {{for file in files:}}
             {{=LI(A(file.filename, _href=URL("ideal_editor", vars={'name':file.filename, 'load':'True'})))}}
             {{pass}}
        </ul>
    </div>
</body>
