<head>
    <link rel="stylesheet" type="text/css" href="../static/css/IDEal_styles.css" title="IDEal Styles" media="screen">
    <meta name="google-signin-client_id" content="60604373576-t98rmnak6js171co8okc50009cverbmc.apps.googleusercontent.com">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"></link>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css"></link>
    <script>
        $(function() {
          $( "#dialog" ).dialog();
        });
    </script>
</head>
    
<body>
    <body bgcolor="#fff">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <div id="header">
        <div id="centericon">
            <img id="icon" src="../static/icon.png" alt="IDEal Icon" style="width:57px;height:45px;">
        </div>
    </div>
    <div class="start-project">
        <div id="dialog" title="File Selection">
      <table id="files">
        <thead></thead>
        <tbody>
              {{for file in files:}}
              <tr>
                  <td>{{=A(file.filename, _href=URL("ideal_editor", vars={'name':file.filename.strip(), 'load':'True'}))}}</td>
            </tr>
          {{pass}}
        </tbody>
      </table>
      <br>
      <hr>
      <br>
      <b>Create a new file:</b>
          {{=form}}
          {{=error}}
    </div>
</body>
